########################################
# MOTHERBOARD.cfg
# Common Main MCU/Motherboard related Configuration for all printer variants
# Author: Vijay Raghav Varada
# Version: 1
########################################


########################################
# X Steppers-M1
# See KINAMATICS.cfg and TOOLHEADX.cfg for more settings for this section
########################################

[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 32
homing_speed: 60
homing_retract_dist: 10.0


[tmc5160 stepper_x]
cs_pin: PC13
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: False
run_current: 1.2 #1.000
sense_resistor: 0.075

########################################
# X- dual carriage Steppers-M2
# See KINAMATICS.cfg and TOOLHEADX.cfg for more settings for this section
########################################

[dual_carriage]
axis: x
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 32
homing_speed: 60
homing_retract_dist: 10.0


[tmc5160 dual_carriage]
cs_pin: PE3
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: False
run_current: 1.2 #1.000
sense_resistor: 0.075


########################################
# Y Steppers- M4
# See KINAMATICS.cfg and TOOLHEADX.cfg for more settings for this section
########################################

[stepper_y]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 32
endstop_pin: ^PF2
homing_speed: 60
homing_retract_dist: 10.0

[tmc5160 stepper_y]
cs_pin: PB5
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: False
run_current: 1.200
sense_resistor: 0.075

########################################
# Y Steppers- M5
########################################

[stepper_y1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 32
endstop_pin: ^PF2


[tmc5160 stepper_y1]
cs_pin: PG14
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: False
run_current: 1.200
sense_resistor: 0.075



########################################
# Z Steppers- M3
# See KINAMATICS.cfg for more settings for this section
########################################
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 8
rotation_distance: 4
endstop_pin: ^PF1
homing_speed: 50
homing_retract_dist: 5.0

[tmc5160 stepper_z]
cs_pin: PB9
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: False
run_current: 2.5
sense_resistor: 0.022


########################################
# Redundant Extruder Extruder Side 0
########################################

[extruder_stepper extruder_side0]
extruder: extruder
step_pin:  PG9
dir_pin: !PD7
enable_pin: !PG11
microsteps: 8
rotation_distance: 7.710 #22.212  #22.102 #23.637 #22.857142857142858 #33.500

[tmc2209 extruder_stepper extruder_side0]
uart_pin: PG10
run_current: 1.000

########################################
# Redundant Extruder Extruder Side 1
########################################

[extruder_stepper extruder_side1]
extruder: extruder1
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6 
microsteps: 8
rotation_distance: 7.710 #22.212  #22.102 #23.637 #22.857142857142858 #33.500

[tmc2209 extruder_stepper extruder_side1]
uart_pin: PD5
run_current: 1.000

########################################
# Heater Bed
########################################
[heater_bed]
heater_pin: PA3
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PB1
control: pid
pid_kp: 45.874
pid_ki: 1.335
pid_kd: 393.945
pwm_cycle_time: 0.3
min_temp: -150
max_temp: 500


########################################
# Probe and ABL
########################################

[probe]
pin: PD8
x_offset: 0
y_offset: 0
#z_offset: -0.2
sample_retract_dist: 2.0
speed: 4
lift_speed: 10
samples_tolerance: 2.00
samples:1
samples_result: average
samples_tolerance_retries : 2

########################################
# Bed Mesh & Exclude Objects
########################################


[bed_mesh]
horizontal_move_z: 5
mesh_min: 50, 50 #50, 10 #0,0
mesh_max: 550, 550 #570, 567 #550,280
probe_count: 5,5
algorithm: bicubic
speed: 200 #to be checked
#adaptive_margin: 5

########################################
# Input Shaping and Resonance
########################################

[input_shaper]

[resonance_tester]
probe_points:
    304,127,20
accel_chip: adxl345 toolhead0

########################################
# Door Lock
########################################

[output_pin door_lock_pin]
pin: PA5
pwm: False
value: 0
shutdown_value : 0

[gcode_macro DoorToggle]
gcode:
    {% if printer.save_variables.variables.door_status == 1 %}
        M514 S0
    {% elif printer.save_variables.variables.door_status == 0 %}
        M514 S1
    {% endif %}

[gcode_macro M514]
gcode:
    {% if params.S == '0' %}
        SET_PIN PIN=door_lock_pin VALUE=0
        RESPOND TYPE=echo MSG="Door Open"
        SAVE_VARIABLE VARIABLE=door_status VALUE=0
    {% endif %}
    
    {% if params.S == '1' %}
        SET_PIN PIN=door_lock_pin VALUE=1
        RESPOND TYPE=echo MSG="Door Closed"
        SAVE_VARIABLE VARIABLE=door_status VALUE=1
    {% endif %}

[gcode_macro Door_Status]
gcode:
 RESPOND TYPE=echo MSG="{printer.save_variables.variables.door_status}"




